{
  "http_interactions": [
    {
      "recorded_at": "2020-02-23T23:25:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.idealista.com/venta-viviendas/benicasimbenicassim/heliopolis-eurosol/pagina-7.htm"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "<!DOCTYPE html>\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<!--[if IE 8]><html class=\"ie8\" lang=\"es\" env=\"es\" username=\"\"><![endif]--> <!--[if IE 9]><html class=\"ie9\" lang=\"es\" env=\"es\" username=\"\"><![endif]--> <!--[if gt IE 9]><!--> <html lang=\"es\" env=\"es\" username=\"\" data-userAuth=\"false\"><!--<![endif]--> <head> <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\"> <title>Casas y pisos en Heli\u00f3polis - Eurosol, Benicasim/Benic\u00e0ssim &#8212; idealista</title> <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"> <meta name=\"description\" content=\"200 casas y pisos en Heli\u00f3polis - Eurosol, Benicasim/Benic\u00e0ssim, a partir de 89.900 euros de particulares e inmobiliarias. Casas y pisos en Heli\u00f3polis - Eurosol, Benicasim/Benic\u00e0ssim: anuncios de particular a particular y de agencias inmobiliarias.\"> <meta name=\"author\" content=\"idealista.com\"> <meta http-equiv=\"cleartype\" content=\"on\"> <meta name=\"pragma\" content=\"no-cache\"/> <meta http-equiv=\"Pragma\" content=\"no-cache\"/> <meta http-equiv=\"Expires\" content=\"Fri, 01 Jan 1990 00:00:00 GMT\"/> <meta http-equiv=\"Cache-Control\" content=\"no-cache, no-store, must-revalidate\"/> <script type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"b800e403ef\",applicationID:\"118942041\"};window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var i=n[t]={exports:{}};e[t][0].call(i.exports,function(n){var i=e[t][1][n];return r(i||n)},i,i.exports)}return n[t].exports}if(\"function\"==typeof __nr_require)return __nr_require;for(var i=0;i<t.length;i++)r(t[i]);return r}({1:[function(e,n,t){function r(){}function i(e,n,t){return function(){ret[...]
