{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://www.idealista.com/venta-viviendas/benicasimbenicassim/heliopolis-eurosol/"}, "response": {"body": {"encoding": "UTF-8", "string": "<!DOCTYPE html>\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<!--[if IE 8]><html class=\"ie8\" lang=\"es\" env=\"es\" username=\"\"><![endif]--> <!--[if IE 9]><html class=\"ie9\" lang=\"es\" env=\"es\" username=\"\"><![endif]--> <!--[if gt IE 9]><!--> <html lang=\"es\" env=\"es\" username=\"\" data-userAuth=\"false\"><!--<![endif]--> <head> <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\"> <title>Casas y pisos en Heli\u00f3polis - Eurosol, Benicasim/Benic\u00e0ssim &#8212; idealista</title> <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"> <meta name=\"description\" content=\"200 casas y pisos en Heli\u00f3polis - Eurosol, Benicasim/Benic\u00e0ssim, a partir de 89.900 euros de particulares e inmobiliarias. Casas y pisos en Heli\u00f3polis - Eurosol, Benicasim/Benic\u00e0ssim: anuncios de particular a particular y de agencias inmobiliarias.\"> <meta name=\"author\" content=\"idealista.com\"> <meta http-equiv=\"cleartype\" content=\"on\"> <meta name=\"pragma\" content=\"no-cache\"/> <meta http-equiv=\"Pragma\" content=\"no-cache\"/> <meta http-equiv=\"Expires\" content=\"Fri, 01 Jan 1990 00:00:00 GMT\"/> <meta http-equiv=\"Cache-Control\" content=\"no-cache, no-store, must-revalidate\"/> <link rel=\"shortcut icon\" href=\"/favicon.ico?20200220-1232\"> <link rel=\"apple-touch-icon\" sizes=\"32x32\" href=\"https://st1.idealista.com/static/common/icons/32x32.png?20200220-1232\"> <link rel=\"apple-touch-icon-precomposed\" href=\"https://st1.idealista.com/static/common/icons/32x32.png?20200220-1232\"> <link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://st1.idealista.com/static/common/icons/57x57.png?20200220-1232\"> <link rel=\"apple-touch-icon-precomposed\" href=\"https://st1.id[...]
